# This config requires YOUR OWN dev account information
# for Spotify and Echonest

[SPOTIFY]
username: spotify-username
scope: playlist-read-private playlist-modify-private
client_id: spotify-app-client-id
client_secret: spotify-app-client-secret
redirect_uri: spotify-redirect-uri
wanted_playlist: playlist-name
error_playlist: playlist-name
success_playlist: playlist-name

[HEADPHONES]
ip: headphones-ip
port: headphones-port
webroot: /headphones-webroot
api_key: headphones-API-key

[ECHONEST]
api_key: echonest-API-key
